@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hello</h1>
    <p class="lead"> This is an ASP.NET demo using CRUD operation and MVC Framework.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

