@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>MoviePages</h1>
        <p class="lead">Welcome to my MVC Movie Pages.</p>
        <p><a href="@Url.Action("AllMovies", "Movie")"class="btn btn-primary btn-lg">View all Movies &raquo;</a></p>
        <p><a href="@Url.Action("NewMovie", "Movie")" class="btn btn-primary btn-lg">Add New Movie &raquo;</a></p>

    </div>

